<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport"
	        content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="icon" href="IMG/libro.png" />
        <script type="text/javascript" src="JS/buscador.js"></script> 

        <title>Profesores</title>
    <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	
	
    </head>
    <body>
        <div>
            <nav class="navbar navbar-default" role="navigation">

                <div class="navbar-header">
                   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Desplegar navegación</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
		</button>
			<a class="navbar-brand" href="admin.html">Administración</a>
		</div>

		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><a>Profesores</a></li>
				<li><a href="alumnos.html">Alumnos</a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> Cursos <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="cursos.html">Crear cursos</a></li>
							<li><a href="admincurso.html">Administrar cursos</a></li>
						</ul></li>
					<li><a href="materias.html">Materias</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="index.html">Desconectar</a></li>
				</ul>
			</div>
		</nav>




		<div class="row">
			<div class="col-sm-2">
				<form style="margin-left: 10px">
					<input id="searchTerm" type="text" onkeyup="doSearch()" /> <span
						class="glyphicon glyphicon-search"> </span>
				</form>
			</div>
			<div class="col-sm-3">
				<a href="#" class="btn btn-sm btn-info" data-toggle="modal"
					data-target="#modalAdd"><span
					class="glyphicon glyphicon-plus-sign"></span> Añadir Profesor</a>
			</div>
		</div>
		<div style="overflow-x: auto;">
			<table id="datos" class="table table-striped">
				<tr>
					<th type="hidden">ID</th>
					<th>Nombre</th>
					<th>Apellidos</th>
					<th>Teléfono</th>
					<th>Email</th>
					<th>Dni</th>
					<th></th>
				</tr>
				<tr th:each="profesor : ${profesores}">
                   <th th:text="${profesor.id}"></th>
                   <th th:text="${profesor.nombre}"></th>
                   <th th:text="${profesor.apellidos}"></th>
                   <th th:text="${profesor.telefono}"></th>
                   <th th:text="${profesor.email}"></th>
                   <th th:text="${profesor.dni}"></th>
                   <th><a  th:href="@{/profesores/delete?id=__${profesor.id}__}" href="#" class="btn btn-xs btn-danger"> <span class="glyphicon glyphicon-trash"></span></a>
                       <a href="#"  th:object="${profesor}"  th:onclick="'editar(\'' + ${profesor.id} + '\');'"  data-toggle="modal" data-target="#modalEdit" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-pencil"></span>  </a>   </th>    
				</tr>
			</table>

		</div>

	</div>
</body>
<!-- Modal -->
<div id="modalAdd" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->

		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Añadir Profesor</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" action="#" th:action="@{/profesores/add}"
				th:object="${profesor}" method="get">
					<div class="form-group">
						<label class="control-label col-sm-2">Nombre</label>
						<div class="col-sm-10">
							<input required="required" type="text" class="form-control" id="nombre"
								placeholder="nombre" th:field="*{nombre}" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2">Apellidos</label>
						<div class="col-sm-10">
							<input required="required" type="text" class="form-control" id="apellido"
								placeholder="Apellidos" th:field="*{apellidos}" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2">Telefono</label>
						<div class="col-sm-10">
							<input required="required" type="number" class="form-control" id="Telefono"
								placeholder="Telefono" th:field="*{telefono}" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2">DNI</label>
						<div class="col-sm-10">
							<input th:maxlength="9"  required="required" th:type="text" class="form-control" id="dni"
								placeholder="dni" th:field="*{dni}" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2">Email</label>
						<div class="col-sm-10">
							<input required="required" type="email" class="form-control" id="Email"
								placeholder="Email" th:field="*{email}" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Añadir</button>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>

		</div>

	</div>
</div>
<!-- Modal -->
<div id="modalEdit" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->

		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Editar Profesor</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" action="#" th:action="@{/profesores/update}"
				th:object="${profesor}" method="get">
						<input type="hidden" class="form-control" id="id" th:value="${id}" th:field="*{id}" />
					<div class="form-group">
						<label class="control-label col-sm-2">Nombre</label>
						<div class="col-sm-10">
							<input required="required" type="text" class="form-control" id="nombre"
								placeholder="nombre" th:value="${nombre}" th:field="*{nombre}" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2">Apellidos</label>
						<div class="col-sm-10">
							<input required="required" type="text" class="form-control" id="apellido"
								placeholder="Apellidos" th:value="${apellidos}" th:field="*{apellidos}" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2">Telefono</label>
						<div class="col-sm-10">
							<input required="required" type="number" class="form-control" id="Telefono"
								placeholder="Telefono" th:value="${telefono}" th:field="*{telefono}" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2">DNI</label>
						<div class="col-sm-10">
							<input required="required" th:maxlength="9" type="text" class="form-control" id="dni"
								placeholder="dni" th:value="${dni}" th:field="*{dni}" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2">Email</label>
						<div class="col-sm-10">
							<input required="required" type="email" class="form-control" id="Email"
								placeholder="Email" th:value="${email}" th:field="*{email}" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Editar</button>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>

		</div>

	</div>
</div>


       
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="/js/editar.js"/>
<!-- Latest compiled JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<!-- CSS -->


</html>
